<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include ('./partials/head') %>

<body>
	<!-- Header -->
	<%- include ('./partials/header') %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>
			<!-- Show the "ultimos" products -->
		<h2>Login</h2>
		<form action="" method="GET" id="registro-form"> <!--uso el mismo id que en register-->
			<div id="separador">
			<label for="usuario">Usuario (email):</label>
			<input type="email" id="usuario" name="usuario" class="form-input"><br>
		
			<label for="contrasena">Contraseña:</label>
			<input type="password" id="contrasena" name="contrasena" class="form-input"><br>
		
			<input type="checkbox" id="recordarme" name="recordarme" class="form-checkbox">
			<label for="recordarme">Recordarme</label><br>
			</div>
		
			<button type="submit" id="submit-btn" class="form-button">Enviar</button>
		</form>
		
		
		</div>
	</div>

	<!-- footer -->
	<%- include ('./partials/footer') %>
	<!-- /footer -->
</body>

</html>